@charset "utf-8";
* { margin: 0; padding: 0; }
body { font-family: Microsoft YaHei; }
img { border: 0; }
a { text-decoration: none; }
ul,
li { list-style: none; }
.fl { float: left; }
.fr { float: right; }
h1,
h2,
h3,
h4,
h5,
h6 { font-weight: normal; }
.clearfix:after { visibility: hidden; display: block; font-size: 0; content: " "; clear: both; height: 0; }
* html .clearfix { zoom: 1; } /* IE6 */
*:first-child+html .clearfix { zoom: 1; } /* IE7 */
.container:after { visibility: hidden; display: block; font-size: 0; content: " "; clear: both; height: 0; }
* html .container { zoom: 1; } /* IE6 */
*:first-child+html .container { zoom: 1; } /* IE7 */
.container { margin: 0 auto; width: 1100px; }
.load { position: fixed; width: 100%; height: 100%; background-color: #000; z-index: 9; }
.loadWarning { position: fixed; top: 50%; margin-top: -68px; width: 100%; background: url(../../img/3droll/load.png) 0 0 repeat-x, url(../../img/3droll/load.png) 0 bottom repeat-x #F00; text-align: center; color: #fff; padding: 40px 0; animation: load 35s infinite; }
.loadWarning:before { content: ""; padding-top: 20px; background-image: url(../../img/3droll/load.png); }
.loadWarning h1 { font-weight: bold; }
@keyframes load { 0% {
 background: url(../../img/3droll/load.png) 0 0 repeat-x, url(../../img/3droll/load.png) 0 bottom repeat-x #F00;
}
 100% {
background: url(../../img/3droll/load.png) -5000px 0 repeat-x, url(../../img/3droll/load.png) -5000px bottom repeat-x #F00;
}
}
.nav { border: 1px solid #ddd; background-image: linear-gradient(to bottom, #fff, #f2f2f2); }
.nav a { padding: 10px 20px; display: block; float: left; text-shadow: 0 1px 0 #fff; color: #555; font-size: 14px; }
.nav .Sign { float: right; }


.JobPicImages{
transform-style:preserve-3d; 
transform:perspective(1000px) rotateX(-10deg) rotateY(0deg); 
position:relative; 
width:100px;
height:172px; 
margin:200px auto 0;}
.JobPicImages img{ 
height:100%; 
width:100%;
position:absolute; border-radius:5px; box-shadow:1px 1px 5px #333; 
-webkit-box-reflect:below 10px -webkit-linear-gradient(transparent,transparent 50%,rgba(0,0,0,1));
outline:none;
}
a{ -webkit-tap-highlight-color: rgba(240,240,240,0); }
input { -webkit-tap-highlight-color: rgba(240,240,240,0); }
img { -webkit-tap-highlight-color: rgba(240,240,240,0); display:inline-block; }
button { -webkit-tap-highlight-color: rgba(240,240,240,0); }