h1 a{
font-family: Tahoma,'Microsoft Yahei','Simsun';
font-size:130%;
}
li a{
font-family: Tahoma,'Microsoft Yahei','Simsun';
font-size:130%;
margin-top:5px;
}
#sideBar
{
width:100px;
}



.postTitle a{
font-size: 200%;
font-weight: bold;
float: right;
line-height: 1.5;
width: 100%;
clear: both;
color: #444;
}